@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

*{
    font-family: Heebo;
    color: black;
}

a{
    text-decoration: none;
}

.card-home{
    margin: auto;
    width: 50%;
    text-align: center;
}