@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

html, body{
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: table;
    margin: 0;
}

*{
    font-family: Heebo;
    color: black;
}

a{
    text-decoration: none;
}

.card-menu{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40px;
    background-color: orange;
    position: fixed;
    display: grid;
    align-items: center;
    z-index: 1030;
}

ul.nav-links{
    margin: auto;
    margin-right: 20px;
    float: right;
    display: flex;
    list-style: none;
}

li.nav-button{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
    padding: 3px 10px;
    text-align: center;
}

li.nav-button:hover a{
    text-decoration: underline;
}

li.nav-button:hover{
    text-decoration: underline;
}

.header-links{
    margin: auto;
    margin-left: 20px;
    align-items: center;
    position: absolute;
    left: 0px;
}

.card-home{
    padding-top: 20px;
    margin: auto;
    width: 50%;
    text-align: center;
}

.card-footer{
    width: 100%;
    height: 0;
    background-color: rgba(238, 130, 238, 40);
    display: table-row;
    position: relative;

}

.footer-text{
    margin: auto;
    margin-left: 10px;
    float: left;
    font-size: 13px;
    font-weight: 500;
}

.footer-links{
    margin: auto;
    margin-right: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.fa{
    font-size: 20px;
    margin: 3px 6px;
}